@import "./nfs-navbar-base.css";
@import "./nfs-navbar-menu.css";
@import "./nfs-navbar-3d.css";
@import "./nfs-navbar-reticle.css";
@import "./nfs-navbar-arrows.css";

/* Shared keyframes */
@keyframes pulse {
  0% {
    filter: brightness(1) drop-shadow(0 0 2px  #ff6600);
  }
  100% {
    filter: brightness(0.75) drop-shadow(0 0 4px #ff6600cc);
  }
}

/* Responsive: hide on mobile */
/* @media (max-width: 800px) {
  .nfs-menu { display: none; }
} */
