/* Sticky navbar */
.navbar, .sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Hide scrollbar for all browsers */
body, html {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}